
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/.idea/composerJson.xml
/.idea/symfony2.xml
/.idea/dataSources/98fb9240-d7b5-4b0d-8a90-985ccddc096c.xml
/.idea/dataSources.local.xml
/.idea/dataSources/98fb9240-d7b5-4b0d-8a90-985ccddc096c/storage_v2/_src_/database/soc_lingv_pr.GZfHyA/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/98fb9240-d7b5-4b0d-8a90-985ccddc096c/storage_v2/_src_/database/soc_lingv_pr.GZfHyA/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/98fb9240-d7b5-4b0d-8a90-985ccddc096c/storage_v2/_src_/database/soc_lingv_pr.GZfHyA/schema/public.abK9xQ.meta
/.idea/dataSources/98fb9240-d7b5-4b0d-8a90-985ccddc096c/storage_v2/_src_/database/soc_lingv_pr.GZfHyA.meta
