a {
    text-decoration: none;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    padding: 11px 25px;
    color: #ffffff;
    background-color: darkslateblue;
    border-radius: 10px;
    position: relative;
    left: 28%;
    margin-left: 121px;

}
a:hover{
    text-decoration: none;
    font-size: 12px;
    padding: 11px 25px;
    color: #ffffff;
    background-color: rgba(44, 45, 39, 0.66);
    border-radius: 10px;
}
body{

    background-image: url("/images/AdobeStock-168775357-1030x676-1024x672.jpeg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-position: center;*/


}
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
    /* background-color: darkslateblue;*/
    font-size: 35px;
    font-style: italic;
    text-shadow: 0 1px 1px #2D2020

}
label.required {
    font-family: "Times New Roman";
    font-size: 21px;
    display: inline-block;
    margin: 10px;
    width: 100px;
    position: relative;
    left: 42%;
}
input {
    width: 190px;
    position: relative;
    left: 42%;
}
