form {
  margin: 0 8px 0 8px;
  padding: 100px 100px 250px 100px;

  font: 14px Arial, sans-serif;

}

h1.h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 25px;
 /* background-color: darkslateblue;*/
  font-size: 30px;
  font-style: italic;
  text-shadow: 0 1px 1px #2D2020
  
}

body{

 background-image: url("/images/v_53_91654394.jpg") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: center;*/


}
/*.fields {
  border: 1px solid #ccc;
  padding: 15px 0 30px 10px;
}*/

.loglab {
  font-family: "Times New Roman";
  font-size: 21px;
  display: inline-block;
  margin: 10px;
  width: 100px;
  position: relative;
  left: 42%;
  }

.form-control {
  width: 190px;
  position: relative;
  left: 42%;

  }

p {
  margin: -20px 0 0 10px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  color: #fff;
  background-color: darkslateblue;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  box-shadow: 0 0 3px -3px #000;
  position: relative;
  left: 37%;
  margin-left: 121px;
  cursor: pointer;
}


button:hover {

  text-decoration: none;
  font-size: 12px;
  padding: 10px 25px;
  color: #ffffff;
  background-color: rgba(44, 45, 39, 0.66);
  border-radius: 10px;
}
footer{
  margin-left: 0;
  margin-right: 0;
  height: 30px;
  text-align: center;


}
