<form method="post" action="{{ path('practicant_delete', {'id': practicant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ practicant.id) }}">
    <button class="btn">Видалити</button>
</form>
