{% extends 'base.html.twig' %}

{% block title %}Редагувати практиканта{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('questionary.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1>Редагувати практиканта</h1>

    {{ include('practicant/_form.html.twig', {'button_label': 'Редагувати'}) }}
    <pre></pre>
    {{ include('practicant/_delete_form.html.twig') }}
    <pre></pre>
    <a href="{{ path('practicant_index') }}">Назад до списку</a>
{% endblock %}
