{% extends 'base.html.twig' %}

{% block title %}New Practicant{% endblock %}

{% block body %}
    <h1>Create new Practicant</h1>

    {{ include('practicant/_form.html.twig') }}

    <a href="{{ path('practicant_index') }}">back to list</a>
{% endblock %}
