{% extends 'base.html.twig' %}

{% block title %}Редагування анкети{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('questionary.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1>Редагування анкети</h1>
    {{ include('questionary/_form.html.twig', {'button_label': 'Редагувати'}) }}

    <pre></pre>
    {{ include('questionary/_delete_form.html.twig') }}
    <pre></pre>
    <a href="{{ path('questionary_index') }}">Назад до списку</a>
{% endblock %}
