{% extends 'base.html.twig' %}

{% block title %}New Questionary{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('questionary.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1>Create new Questionary</h1>

    {{ include('questionary/_form.html.twig') }}

    <a href="{{ path('questionary_index') }}">back to list</a>
{% endblock %}
