{% extends 'base.html.twig' %}

{% block title %}Зведена таблиця №1{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('report.css') }}" rel="stylesheet"  />
{% endblock %}

{% block body  %}
    <table id="report">
        <tbody>
        <tr>
            <td colspan="2" rowspan="6">Паспортні дані


                Мова спілкування</td>
            <td rowspan="6">Стать</td>
            <td rowspan="6">Всього</td>
            <td colspan="4">Національність</td>
            <td rowspan="6">Всього</td>
            <td colspan="8">Володіння</td>
            <td rowspan="6">Всього</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">Укр.</td>
            <td colspan="2">Рос. </td>
            <td colspan="4">Укр.</td>
            <td colspan="4">Рос.</td>
        </tr>
        <tr>
            <td colspan="2">інші</td>
            <td colspan="2">Добре</td>
            <td colspan="2">Не дуже добре</td>
            <td colspan="2">Добре</td>
            <td colspan="2">Не дуже добре</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td>Ч.</td>
            <td>Ж.</td>
            <td>Ч.</td>
            <td>Ж.</td>
            <td>Ч.</td>
            <td>Ж.</td>
            <td>Ч.</td>
            <td>Ж.</td>
        </tr>
        <tr>
            <td colspan="4">Рідна мова</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td>Укр.</td>
            <td>Рос. </td>
            <td>Укр.</td>
            <td>Рос. </td>
            <td>Ч.</td>
            <td>Ж.</td>
            <td>Ч.</td>
            <td>Ж.</td>
            <td>Ч.</td>
            <td>Ж.</td>
            <td>Ч.</td>
            <td>Ж.</td>
        </tr>
        <tr>
            <td rowspan="6">Вік</td>
            <td rowspan="2">Мол.</td>
            <td>Ч.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ж.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">Серед.</td>
            <td>Ч.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ж.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">Похил.</td>
            <td>Ч.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ж.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="6">Освіта</td>
            <td rowspan="2">Вища</td>
            <td>Ч.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ж.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">Незак.
                Вища</td>
            <td>Ч.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ж.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">Середня</td>
            <td>Ч.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ж.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('report') }}" >Назад до списку</a>

    <a href="{{ path('pdf') }}">GO</a>
{% endblock %}
