{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('practicant.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h1>Зведені таблиці результатів</h1>
    <br><br><br>
    <a href="{{ path('report1') }}" >Зведена таблиця №1</a><br><br><br>
    <a href="{{ path('report2') }}" >Зведена таблиця №2</a><br><br><br>
    <a href="{{ path('report3') }}" >Зведена таблиця №3</a>

{% endblock %}